<div>
   <h1> Ésta es lista de productos</h1>
            {{#each listaDeProductos}}
               <p> {{this.id}} | {{this.title}} | {{this.code}} | {{this.price}}</p>
            {{/each}}
</div>

